<a href="https://colab.research.google.com/github/premsagar32/data-science-practice/blob/main/tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**DAY 1**

In [ ]:
name = "prem"
age = 21
print("my name is :", name , "age is :", age )

x = 10
y = 20
print("add", x+y)
print("sub", x-y)
print("mul",x*y)
print("div",x/y)

name = "harsha"
print("welcome", name)

my name is : prem age is : 21
add 30
sub -10
mul 200
div 0.5
welcome harsha

**DAY 2**

In [28]:
name = "prem"
age = 20
marks = [1,2,3]
print(name,age,marks[1])

note = "you are good looking"
print("length",len(note))
print("slicing",note[1:5])
print("uppercase",note.upper())
print("lowercase",note.lower())
print("replace",note.replace("y","u"))
print("find",note.find("o"))
 #TASK
fruits =["banana", "apple", "pineapple", "graps", "dragon"]
print(fruits[0],fruits[1],fruits[2],fruits[3],fruits[4])

myDist = {"name": "prema", age: 21, "course":"datascience"}
print(myDist["name"])
print(myDist[age])
print(myDist["course"])

text = "its a new book"
print(text.upper())
print(text.lower())

prem 20 2
length 20
slicing ou a
uppercase YOU ARE GOOD LOOKING
lowercase you are good looking
replace uou are good looking
find 1
banana apple pineapple graps dragon
prema
21
datascience
ITS A NEW BOOK
its a new book

**DAY 3**